In [128]:
import ujson as json
import pandas as pd
import urllib
import requests

In [12]:
#Create a Dictionary for Books
books = {}
books['book1'] = {
    'name' : 'Intro to Linear Regression',
    'publisher' : 'Wiley',
    'topic' : 'ML',
    'year': '2016'
}
books['book2'] = {
    'name' : 'Multivariate Data Analysis',
    'publisher' : 'Pearson',
    'topic' : 'EDA',
    'year': '2017'
}
books['book3'] = {
    'name' : 'Intro to Stats',
    'publisher' : 'Miliier & Miller',
    'topic' : 'Stats',
    'year': '2015'
}

In [113]:
print(json.dumps(books))
print("\n-------This time with proper indentation and sorted Keys-------")
print(json.dumps(books, indent=4, sort_keys=True ))

{"book2": {"publisher": "Pearson", "year": "2017", "name": "Multivariate Data Analysis", "topic": "EDA"}, "book3": {"publisher": "Miliier & Miller", "year": "2015", "name": "Intro to Stats", "topic": "Stats"}, "book1": {"publisher": "Wiley", "year": "2016", "name": "Intro to Linear Regression", "topic": "ML"}}

-------This time with proper indentation -------
{
    "book1": {
        "name": "Intro to Linear Regression",
        "publisher": "Wiley",
        "topic": "ML",
        "year": "2016"
    },
    "book2": {
        "name": "Multivariate Data Analysis",
        "publisher": "Pearson",
        "topic": "EDA",
        "year": "2017"
    },
    "book3": {
        "name": "Intro to Stats",
        "publisher": "Miliier & Miller",
        "topic": "Stats",
        "year": "2015"
    }
}

In [100]:
print(str('Some String')) 
print('Some String'.encode('UTF-8'))

Some String
b'Some String'

In [94]:
pets = set([u'Tiger', u'Panther', u'Toad'])
print(json.dumps(pets))

["Toad","Panther","Tiger"]

In [34]:
#Convert this in a JSON string. Remember this is a string
jd = json.dumps(books)
print("The type of this object is {a}\n".format(a=type(jd)))

print(jd)

The type of this object is <class 'str'>

{"book2":{"publisher":"Pearson","year":"2017","name":"Multivariate Data Analysis","topic":"EDA"},"book3":{"publisher":"Miliier & Miller","year":"2015","name":"Intro to Stats","topic":"Stats"},"book1":{"publisher":"Wiley","year":"2016","name":"Intro to Linear Regression","topic":"ML"}}

In [19]:
##Write JSON dat in a local file
with open("/home/jovyan/work/book.txt", "w") as f:
    f.write(jd)

In [36]:
## Read JSON data in a string variable
with open("/home/jovyan/work/book.txt", "r") as f:
    s = f.read()

In [82]:
#Let load this JSOn data. We use json.loads function loads stand for load string
# This will convert into a dictionary
print("The type of this object is {we}\n".format(we = type(s)))
print(s)
b = json.loads(s)
print("\nThe type of this object is {we}\n".format(we = type(b)))
print(b)
print("---\nThe topic of Book2 is {x}\n---".format(x=b['book2']['topic']))

i =0
for book in b:
    i=i+1
    print(str(i)+". "+(b[book]['name']))

The type of this object is <class 'str'>

{"book2":{"publisher":"Pearson","year":"2017","name":"Multivariate Data Analysis","topic":"EDA"},"book3":{"publisher":"Miliier & Miller","year":"2015","name":"Intro to Stats","topic":"Stats"},"book1":{"publisher":"Wiley","year":"2016","name":"Intro to Linear Regression","topic":"ML"}}

The type of this object is <class 'dict'>

{'book2': {'name': 'Multivariate Data Analysis', 'year': '2017', 'publisher': 'Pearson', 'topic': 'EDA'}, 'book3': {'name': 'Intro to Stats', 'year': '2015', 'publisher': 'Miliier & Miller', 'topic': 'Stats'}, 'book1': {'name': 'Intro to Linear Regression', 'year': '2016', 'publisher': 'Wiley', 'topic': 'ML'}}
---
The topic of Book2 is EDA
---
1. Multivariate Data Analysis
2. Intro to Stats
3. Intro to Linear Regression

In [11]:
#Converting Books into Panda Datframe for Fun
booksDF = pd.DataFrame(books)
booksDF

,book1,book2,book3
name,Intro to Linear Regression,Multivariate Data Analysis,Intro to Stats
publisher,Wiley,Pearson,Miliier & Miller
topic,ML,EDA,Stats
year,2016,2017,2015

In [159]:
#https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=YOUR_API_KEY
address=input('Address:')
key = 'AIzaSyBIp0CihGw033CfXO8eWihlIXqO3FedrH4'
main_api_url ='https://maps.googleapis.com/maps/api/geocode/json?'
url = main_api_url  + urllib.parse.urlencode({'address':address, 'key':key})
json_data = requests.get(url).json()
type(json_data['results'][0])
print("Address of {a} is: {b}".format(a=address, b=json_data['results'][0]['formatted_address']))

Address:Betaout
Address of Betaout is: A-8, Sector 68, Noida, Uttar Pradesh 201309, India